{% extends 'layout.html' %}
{% block title %}
Display any portion of the data stored in the DB
{% endblock %}

{% block body %}
<div class="title">
    Enter number of records (All items by default):
<form method="post">
    <input type="number" name="number" id="number"><br>
    <input type="submit" value="Отправить">
</form><br>

<button onclick="history.back()">Go Back</button>
</div>



<div class="container d-flex align-content">
    Records:<br>
    {% for el in full_list %}
    {{ el["kind"] }}
    {{ el["collectionName"] }}
    {{ el["trackName"] }}
    {{ el["collectionPrice"] }}
    {{ el["trackPrice"] }}
    {{ el["primaryGenreName"] }}
    {{ el["trackCount"] }}
    {{ el["trackNumber"] }}
    {{ el["releaseDate"] }}
    <br>
    {% endfor %}
    
</div>
{% endblock %}