{% extends 'layout.html' %}
{% block title %}
    Stress test
{% endblock %}

{% block body %}
<div class="container-fluid" id="wrapper">
			
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
            
            
            

            <div class="row t10 align-content">
                <div class="col-lg-12">
                    Stress done, now is:
                    {{ timestamp.strftime('%d.%m.%Y') }}
    
                   
                </div>
            </div>

           
        </div>
    </div>
    <br>

    <footer>
        <div class="row pad">
            <div class="col-lg-12 text-center">
                Copyright &copy; 2022 <strong>EPAM Alexandr Belov, stream 24</strong>
            </div>
        </div>
    </footer>
</div>
{% endblock %}